@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
    background: #02111D;
    color: #92AFFB;
    margin: 0;
}

body * {
    font-family: "Poppins";
}

header {
    text-align: center;
    background: #010E16;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    max-width: 60px;
}

header h1 {
    margin: 0;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    color: #457CEE;
}

.task-list {
    max-width: 500px;
    margin: 20px auto;
}

.task {
    padding: 6px 20px;
    background: #0B1E33;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task h3,
.task .icons {
    display: inline-block;
}

.task .icons {
    text-align: right;
}

.task i {
    font-size: 1.4em;
    margin-left: 6px;
    cursor: pointer;
    color: #7792AD;
}

.task i.active {
    color: #FC4A51;
}

.filter {
    max-width: 500px;
    margin: 10px auto;
    text-align: right;
}

.filter button {
    display: inline-block;
    margin-left: 10px auto;
    background-color: #0B1E33;
    border: 2px solid #010E16;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 0.8em;
    font-size: 1em;
    color: #CCD6E6;
}

.new-task-form {
    padding: 20px 0;
    background: #010E16;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    border-bottom: 2 #CCD6E6;
}

form * {
    border: 0;
    padding: 5px;
    border-radius: 50px;
    font-size: 1em;
}

form button {
    background: #457CEE;
    font-family: 'Poppins';
    cursor: pointer;
}

form input {
    padding-left: 15px;
    text-align: center;
}