@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
    --header-bg-colour: #13151E;
    --body-bg-color: #1D2533;
    --task-bg-color: #181C28;
    --green: #BAE67E;
    --blue: #5CCFE6;
    --yellow: #FFD580;
    --purple: #C3A6FF;
    --red: #EF6B73;
    --grey: #8695B7;
    --things-blue: #4987F0;
    --highlight-color: #2C374C;
}

body {
    background: var(--body-bg-color);
    color: var(--blue);
    margin: 0;
}

body * {
    font-family: "Poppins";
}

header {
    text-align: center;
    background: var(--header-bg-colour);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    max-width: 60px;
}

header h1 {
    margin: 0;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    color: var(--things-blue);
}

.task-list {
    max-width: 500px;
    margin: 20px auto;
}

.task {
    padding: 6px 20px;
    background: var(--body-bg-color);
    margin-top: 20px;
    border-radius: 20px;
    border: 0.1px solid var(--highlight-color);
    box-shadow: 2px 5px 6px var(--header-bg-colour);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task h3,
.task .icons {
    display: inline-block;
}

.task .icons {
    text-align: right;
}

.task i {
    font-size: 1.4em;
    margin-left: 6px;
    cursor: pointer;
    color: var(--grey);
}

.task i.active {
    color: var(--red);
}

.filter {
    max-width: 500px;
    margin: 10px auto;
    text-align: right;
}

.filter button {
    display: inline-block;
    margin-left: 5px;
    background-color: var(--purple);
    border-radius: 20px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 1em;
    color: var(--header-bg-colour);
    border-style: none;
}

.new-task-form {
    padding: 20px 0;
    background: var(--header-bg-colour);
    border-bottom: 1px solid --highlight-color;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

form * {
    border: 0;
    padding: 5px;
    border-radius: 50px;
    font-size: 1em;
}

form button {
    background: var(--green);
    font-family: 'Poppins';
    cursor: pointer;
}

form input {
    padding-left: 15px;
    text-align: center;
}

.loading {
    max-width: 500px;
    border: 1px solid var(--yellow);
    padding: 5px 0;
    text-align: center;
    margin: 30px auto;
    border-radius: 20px;
}